/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url('https://fonts.googleapis.com/css?family=Raleway:700|Roboto:300,500');
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

* {
  color: #616161;
}

nav {
  position: fixed;
  z-index: 100;
  height: 70px;
  transition: all 0.2s;
  box-shadow: none;
  font-family: 'Raleway', sans-serif;
  line-height: 70px;
}

.carousel {
  height: 100vh !important;
  margin: 0 !important;
}

.logo-ev {}

.full-page {
  position: relative;
  height: auto !important;
  min-height: 100vh !important;
  margin: 0;
  padding: 0;
}

.no-margin {
  margin: 0;
}

.black-white-text {
  color: white;
  background-color: rgb(33, 33, 33) !important;
}

.greyish-text {
  color: #616161;
  ;
}

.transparent-black-text {
  color: #212121;
  background-color: transparent;
}

.transparent-black-text a {
  color: #212121;
}

#index-banner {
  background: url(../images/page1.jpg) 50% 50%;
  background-size: cover;
}

.person-big {
  float: left;
  overflow: hidden;
  width: 60vh;
  height: 60vh;
  margin: 0 auto;
  margin: 3vh;
}

.person-big img {
  width: 100%;
}

.no-padding {
  padding: 1px !important;
}

.person-round {
  float: left;
  overflow: hidden;
  border-radius: 10000px;
  width: 100%;
  cursor: pointer;
}

.centerImage {
  display: block !important;
  margin: 0 auto;
  text-align: center;
}

.center-justified {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

.arrow-down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 0;
  height: 0;
  transform: translateX(-10px);
  border-top: 20px solid #116c5e;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

.arrow-left {
  left: 50%;
  width: 0;
  height: 0;
  border-right: 36px solid #116c5e;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  cursor: pointer;
}

.arrow-right {
  left: 50%;
  width: 0;
  height: 0;
  border-left: 36px solid #116c5e;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.valign-bottom {
  bottom: 0;
  position: absolute;
}


/*sus, la meniu raleway bold
text, la titluri roboto medium si la content light*/
